
.title {
    margin: 0;
    font-size: 18px;
    background-color: darkblue;
    color: yellow;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    top: 0;
}
.box:nth-child(1) {
    background-color: blue;
}
.box:nth-child(2) {
    background-color: yellow;
}
.box:nth-child(3) {
    background-color: pink;
}
.name {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* fixed and sticky position */
.fixed-title {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: aqua;
    color: black;
}

.section {
    margin-bottom: 20px;
}
.section-title {
    position: sticky;
    top: 0;
    text-align: center;
}
.section:nth-child(1) .section-title {
    background-image: repeating-linear-gradient(to bottom, blue, blue 50%, yellow 50%, yellow 100%)
}
.section:nth-child(2) .section-title {
    background-image: repeating-linear-gradient(-45deg,
        blue,
        blue 20px,
        yellow 20px,
        yellow 40px);
}
.section:nth-child(3) .section-title {
    background-image: repeating-radial-gradient(circle, red,
    red 15px,
    green 15px,
    green 30px);
}
.section:nth-child(4) .section-title {
    background-image: repeating-linear-gradient(to right, blue, blue 50%, yellow 50%, yellow 100%)
}