
.title {
    margin-top: 20px;
    font-size: 18px;
    background-color: darkblue;
    color: yellow;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    position: relative;
    top: 0;
}
.box:nth-child(1) {
    background-color: blue;
}
.box:nth-child(2) {
    background-color: yellow;
}
.box:nth-child(3) {
    background-color: pink;
}
.name {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* fixed and sticky position */
.fixed-title {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: aqua;
    color: black;
}

.section {
    margin-bottom: 20px;
}
.section-title {
    position: sticky;
    top: 0;
    text-align: center;
}

.section:nth-child(1) {
        height: 200px;
            border: 1px dashed red;
            overflow: scroll;
}

.section:nth-child(1) .section-title {
    background-image: repeating-linear-gradient(to bottom, blue, blue 50%, yellow 50%, yellow 100%);

}
.section:nth-child(2) .section-title {
    background-image: repeating-linear-gradient(-45deg,
        blue,
        blue 20px,
        yellow 20px,
        yellow 40px);
}
.section:nth-child(3) .section-title {
    background-image: repeating-radial-gradient(circle, red,
    red 15px,
    green 15px,
    green 30px);
}
.section:nth-child(4) .section-title {
    background-image: repeating-linear-gradient(to right, blue, blue 50%, yellow 50%, yellow 100%)
}

/* overflow img */
.image {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumb {
    border: 2px solid red;
    border-radius: 25px;
    width: 500px;
    overflow: hidden;
}

/* Hidden text */
.box-overlay {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.box-overlay:hover .overlay {
    transform: translateX(0);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms ease;

    padding: 5px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* transitions */
.box-transition {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    transition: background-color 500ms, border-radius 500ms 500ms, transform 500ms 1000ms;
}
.box-transition:hover {
    background-color: aquamarine;
    transform: rotate(180deg);
    border-radius: 25px;
}

/* Animations */
@keyframes changeBgColorPosition {
    0% {
        background-color: antiquewhite;
        transform: translate(0, 0);
    }
    50% {
        background-color: red;
        transform: translate(50px, 25px);
    }
    100% {
        background-color: blueviolet;
        transform: translate(100px, 0);
    }
}

.box-animations {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}
.overlay-box-animation {
    border: 1px solid green;
}
.overlay-box-animation:hover .box-animations {
    animation-name: changeBgColorPosition;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.box-animations:hover {
    animation-play-state: paused;
}

/* perspective */
.box-rotate {
    width: 100px;
    height: 100px;
    background-color: brown;
    animation: rotateY 1500ms infinite alternate ease-in-out 500ms;
}
@keyframes rotateY {
    0% {
        transform: perspective(200px) rotateY(20deg);
    }
    100% {
        transform: perspective(200px) rotateY(-10deg);
    }
}